.App{
  height: 1080px;
  width: 1920px;
  display: flex;
  justify-content: center;
  background-image: url("./assets/marble-background.png");
}

.wrapper{
  height: 100%;
  width: 100%;
}

.nav-wall{
  width: 100%;
  border-bottom: 2px solid gray;
  background-color: #121212;
  display: flex;
  flex-direction: column;
}

.head-color{
  color: #fff;
}

.nav-content{
  border-bottom: 2px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.nav-button{
  margin-left: 80px;
}

.nav-desc{
  display: flex;
  justify-content: center;
}

.page-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.art-list{
  width: 50%;
  margin-top: 5px;
  border: 2px solid black;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
}

.art-content{
  height: 200px;
  width: 300px;
  padding: 5px;
}

.art-buttons{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.form-background{
  width: 16%;
  background-color: blanchedalmond;
}

.form-body{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-title{
  background-color: blanchedalmond;
}